
/* #region CSS Reset*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* #endregion */

@font-face {
    font-family: roboto-asset;
    src: url(assets/font/Roboto-VariableFont_wdth,wght.ttf);
}


:root {
    font-family: roboto-asset, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* variable declaration here */
    --custom-blue: #0083d2;    
    --custom-grey: #E0E6EF; 
    --ominous-yellow : #F9BD34;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    background-color: var(--custom-blue);
    grid-row: 1 / -1;
    grid-column: 1/2;
}

.header{
    background-color: #FFFFFF;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.main-content{
    background-color: var(--custom-grey);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.sidebar{
    color: #FFFFFF;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    gap: 50px;

    padding: 20px;
    align-items: flex-start; /*This might cause issues*/
}

.dashboard,
.icon
{
    display: flex;
    align-items: center;
}

.dashboard-logo{
    color: #FFFFFF;
    width: 80px;
}

.dashboard p{
    font-size: 2em;
    padding: 0px 5px;
}

.icon img{
    width: 35px;
}

.navbar{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 15px;
}

.navbar p{
    padding: 0px 20px;
    font-size: 1.2em;
    font-weight: bolder;
}

.header-top-layer{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchbar{
    width: 700px;
    height: 25px;
    border-radius: 15px;
    background-color: var(--custom-grey);
}

.user-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pfp{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50px;
}

.username-heading{
    font-size: 1.25em;
    font-weight: bold;
}

.header-bottom-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

.greeting{
    display: flex;
    gap: 20px;
    align-items: center;
}

.greeting-text{
    font-weight: bold;
}

.small-text{
    font-size: 1em;
}
.large-text{
    font-size: 1.8em;
}

.big-pfp{
    width: 80px;
    height: 80px;
    background-color: aqua;
    border-radius: 80px;
}

.header-buttons{
    display: flex;
    gap: 30px;
}

.header-button{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--custom-blue);
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    padding: 50px 20px;
    display: grid;

    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 20px;
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.main-content-heading{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

.content-card{
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.1); 
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.1);
    border-radius: 10%;
    z-index: 3;
    background-color: #FFFFFF;
}

.announcements > div,
.trending > div
{
    width: 300px;
    height: 400px;
}

.announcement-card{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    gap: 30px;
    padding: 10px;
    align-items: center;
}

.announcement-heading{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}
.announcement-main-text{
    text-align: center;
}

.trending-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.trending-user{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 30px;
    column-gap: 15px;
}

.trending-user-pfp{
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    width: 60px;
    height: 60px;
    background-color: aqua;
    border-radius: 60px;
}

.trending-username{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


.trending-userbio{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: grey;
}

.main-content-card{
    width: 500px;
    height: 275px;
    border-radius: 30px;

    display: grid;
    grid-template-columns: 12px 1fr;
    grid-template-rows: 3fr 2fr;
    overflow: hidden;
    gap: 10px;
}

.ominous-yellow-line{
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    background-color: var(--ominous-yellow);
}

.main-content-card-text{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding: 20px;
}

.main-content-card-buttons{
    display: flex;
    gap: 20px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    justify-self: end;
    align-self: end;
    padding: 20px 20px;
}
.main-content-button{
    width: 30px;
    height: 30px;
}
.main-content-card-heading{
    font-size: 1.2em;
    font-weight: bold;
}

.main-content-card-description{
    color: grey;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;
    
}